<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>500 Internal server error | sample</title>
<meta name="robots" content="noodp" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="alternate" type="application/rss+xml" title="sample" href="/feeds/" />
<link href='/static/css/500.css' rel='stylesheet' type='text/css'>
<!-- place project base css -->
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
<!-- place project specific css in this file -->
</head>
<body>
    <div id="page">
        <div id="errorContent">
            <div id="inner">
                <h1>アクセスしようとしたページは表示できませんでした</h1>
                <p>
                    <span>内部参照におけるエラーのため、目的のページが表示できませんでした。</span>
                    <span>しばらくお待ちの上、再度アクセスしてください。</span>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
